dist: trusty

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - wget
      - pkg-config

before_install:
  - wget https://github.com/bazelbuild/bazel/releases/download/0.22.0/bazel_0.22.0-linux-x86_64.deb
  - sha256sum -c tools/bazel_0.22.0-linux-x86_64.deb.sha256
  - sudo dpkg -i bazel_0.22.0-linux-x86_64.deb

script:
  - jdk_switcher use oraclejdk9
  - bazel test //...

language: java

jdk:
  - oraclejdk9

branches:
  except:
    - gh-pages

notifications:
  email: make-open-easy+CI@googlegroups.com
